* {
    border: 2px solid red;
}

h1 {
    color: blue;
    font: 32px;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
}

#mathDiv {
    border: 40px;
    gap: 2px;
    margin-bottom: 0px;
    padding: 5px;
}
button{
    /* width will adjust how close the math buttons are */
    width: 203px;
    /* Set the desired width */
    height: 40px;
    /* Set the desired height */
    font-size: 36px;
}

#numberDiv {
    border: 400px;
    margin-bottom: 100px;
    padding: 5px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2px;

}


.number-button {
    /* width will adjust how close buttons are */
    width: 175px;
    /* Set the desired width */
    height: 40px;
    /* Set the desired height */
    font-size: 18px;
    /* Adjust font size if needed */
    background-color: white;
    color: purple;
}